/*Estrutura do site**********/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'helvetica',  sans-serif;
    background: #e5e5e5;
}

#container {
    width: 1366px;
    margin: 0 auto;
}









/*Barra de navegação**************/



#topo {
    background: #FDF1EB;
    width: 1366px;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0; 
}

.logo {
    position:absolute;
    width: 220px;
    height: 68px;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background: linear-gradient(#FFB354,
    #EE7A3A);
    text-indent: -3000px;
    color: #000;
}

#navegação, h1, h2 {
    float: right;
    color: #69001d;
}





/*Configuração layout de três colunas***********************************************/

#conteudo {
    width: 1366px;
    height: 2314px;
    margin-top: 68px;
    background: #ececec;
    border: 1px solid green;
    
}

#primario {
    margin-top: 150px;
    width: 783px;
    

}

#uma-coluna #primario {
    width: 150px;
    margin: 0 0 20px 0;
    
    float: left;

}

#duas-colunas #primario {
    width: 555px;
    margin: 0 0 20px 195px;
    
    float: left;

}

#tres-colunas #primario {
    margin: 0 0 20px 195px;
    

}

#secundario {
    
    margin: 0 0 40px;
   
    float: left;
}

#lateral {
    width: 220px;
    height: 2314px;
    border: 1px solid red;
    
  
    float: left;
}

/*caixa****/

.caixa {
    padding: 5px;
    margin: 10px 0;
    
   
    
}

h2 {
    font-size: 1em;
    color: #fff;
    background: #294c71;
    padding: 5px;
}

.caixa-conteudo {
    
    padding: 5px;
    margin-top: 5px;
    background: url(imagens/menu-item/dewey/4.png) no-repeat left center;
}

/*Formatar menus laterais**********/

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;

}

#lateral ul a:hover {
    padding-left: 20px;
    background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
    color: #a1a1a1;
}

/*Formatando formulários******/

label {
    display: block;
    cursor: pointer;
    padding: 5px;
}

input {
    font-size: 0.9em;
    padding: 5px;
    width: 125px;
    background: #fff;
}

input.submit {
    width: 80px;
    
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*Formatação de imagens ********/

img {
    border: 2px solid #dfdfdf;
}

img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/*Formatação lista de noticias******/

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    
    
}

#lista-noticias li a img {
    float: left;
    margin: 5px;

}

#lista-noticias li a {
    text-decoration: none;
    font-size: 0.8em;
    
   
}


#lista-noticias li  h3 {
    padding: 0;
    font-size: 0.8em;
    color: #3e7ab9;
   
}

#lista-noticias li a p {
    font-size: 0.7em;
    color: #000;
    
    
    
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}


/*Formatando cabeçalhos********/

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}
.entrevista h3 {
    background: #de003e;
   
}


/*rodapé*******/

#container-rodapé {
    background-color:#294c71 ;
    padding: 20px;
}

#rodapé {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}