.lateral {
    width: 220px;
    position: absolute;
    float: left;
    height: 1633px;
}

.lateral_imagem > img {
    position: absolute;
    width: 220px;
    height: 1633px;
    z-index: 3;
    margin-left: 10px;
}

.imagem > img {
    position: absolute;
    top: 0;
    width: 220px;
    height: 258px;
    z-index: 3;
}

.lista > li {
    width: 220px;
    height: 35px;
    border-top: none;
    border-bottom:  1px solid #ececec;
}

ul > li {
    margin-top: 7px;
    line-height:20px;
    font-size: 15px;
    height: 35px;
    bottom: 5.71%;
 }


ul > li > a {
    margin-left: 24px;
    top: 7px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500,media;
    font-size: 15px;
    line-height: 18.75px;
    color: #725C5C;
    height: 35px;
}

ul > li:hover {
   background-color: #FDF1EB;
}

.nav-wrapper {
    position: absolute;
    width: 220px;
    height:68px;
    bottom: 0;
    background: linear-gradient(#FFB354, #EE7A3A);   
}

.menu {
    width: 1146px;
    left: 274px;
    height: 68px;
    position: absolute;
}

.menu_paragrafo {
    position: absolute;
    width: 391px;
    height: 16px;
    top: 5px;
}

.menu_paragrafo > p {
    width: 391px;
    margin-top: 0;
    left: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.menu_variado {
    position: absolute;
    width: 1055px;
    height: 26px;
    left: 0;
    top: 23px;
}

.variado_1 > p {
    width: 643px;
    height: 26px;
    left: 0;
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #725C5C;
}

.variado_2 {
    height: 34px;
    width: 97px;
    left: 740px;
    top: -9px;
    border-radius: 3px;
    position: absolute;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}

.variado_3 {
    top: 10px;
    width: 163px;
    height: 15px;
    left: 860px;
    position: absolute;
}

.variado_3 > .login {
    margin-top: -42px;
    position: absolute;
    float: right;
    left: 77px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.variado_3 > p { 
    width: 163px;
    height: 15px;
    left: 860px;
    padding-right: 18px;
    margin-top: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #333333;
}

.issn {
    position: absolute;
    top: 0;
    width: 105px;
    height: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #725C5C;
}

.nav-wrapper > h5 {
    position: absolute;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700, bold;
    text-align: center;
    color: #ffffff;
    width: 178px;
    font-size: 30px;
    margin-left: 23px;
    line-height: 35.16px;
}

.download > button{
    width: 120px;
    height:31px;
    margin-left: 25px;
    margin-right: 5px;
    line-height: 19px; 
    background-color: #ED7839;
    color: #ffffff;
    border: 1px solid #ED7839;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
}

.download_1, .download_2 {
    background-color: #ED7839;
    color: #ffffff;
    border: 1px solid #ED7839;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}

.download_1, .download_2 {
    width: 43px;
    height:31px;
}

.download_1, .download_2 > img {
    line-height: 20.08px;
    letter-spacing: 0.01em;
    padding-top: 4px;
}

.img_login {
    height: 30px;
    width: 48px;
    left: 1069px;
    border-radius: 50px;
    position: absolute;
    left: 100%;
    right: 2.53%;
    top:-20px;
    bottom: 27.94%;
}

.img_login2 {
    left: 185px;
    top: -40px;
    position: absolute;
    width: 12px;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
}

.primeiro {
    width:220px;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 242px;   
}
    
section {
    width: 783px;
    position: absolute;
    align-items: center;
    margin-left: 273px;
}

.paragrafo_principal > p {
    position: absolute;
    height: 54px;
    left: 0px;
    text-align: start;
    top: -10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.lateral2 {
    width: 242px;
    float: right;
    margin-right: 18px;
}

.segundo {
    position: absolute;
    top: 141px;
    width: 242px;
    height: 439px;
    border: 1px solid #ECECEC;
}

.conteudo {
    position: absolute;
    width: 1058px;
    height: 189px;
    left: 0px;
    top: 542px;
    border: 1px solid #ECECEC;
    border-radius: 3px;
}

.resumo {
    width: 1058px;
    height:189px;
}

.resumo > h1 {
    padding-left: 15px;
    width: 1058px;
    left: 0;
    margin-top: 0;
    height: 45px;
    background-color: #FDF1EB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.resumo > p {
    width: 1028px;
    height: 114px;
    margin-top: -10px;
    margin-left: 15px;
}

.icones_3 {
    height: 50px;
    width: 422px;
    margin-left: 324.5px;
    margin-top: 74px;
}

.conteudo > p {
    position: static;
    width: 1028px;
    height: 114px;
    left: 0px;
    top: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #5C5C5C;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.segundo_titulo {
    position: absolute;
    height: 45px;
    width: 240px;
    background: #FDF1EB;
    box-sizing: border-box;
    border-radius: 3px 3px
}

.segundo_titulo > h2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 212px;
    height:25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;
}

.post{
    position: absolute;
    height: 364px;
    width: 212px;
    top: 70px;
    margin-left: 10px;
}

.post2 > img {
    float: right;
    margin-top: 60px;
    margin-right: 5px;
}

.conteudo2 {
    position: absolute;
    width: 1058px;
    height: 661px;
    top: 761px;
    border: 1px solid #ececec;
}

.discusoes > h1 {
    padding-left: 15px;
    width: 1058px;
    left: 0;
    margin-top: 0;
    height: 45px;
    background-color: #FDF1EB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}

.discusoes > h2 {
    height: 22px;
    width: 422px;
    left: 324.5px;
    top: 50px;
    position: absolute;
    left: 30.64%;
    right: 29.51%;
    bottom: 30.75%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ED7839;
}

.paragrafo {
    margin-top: 43px;
    margin-left: 216.5px;
    width: 626px;
    height: 39px;
}

.paragrafo > p {
    margin-top: 0px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #595959;
}

.topico {
    margin-top: 17px;
    width: 1028px;
    height: 328px;
    margin-left: 15px;
}

.botao {
    top: 0;
    padding-left: 18px;
    position: absolute;
    width: 133px;
    height: 32px;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    left: 463px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
}

.icone_criar {
    top: 8px;
    position: absolute;
    width: 17px;
    height: 17px;
    z-index: 2;
    left: 477px;
}

.topico_1 {
    top: 45px;
    position: absolute;
    width: 1028px;
    height: 148px;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
}

 .topico_2 {
    top: 217px;
    position: absolute;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px; 
    width: 1028px;
    height: 148px;
} 

.topico_conteudo_1 > h5 {
    margin-top: 17px;
    margin-left: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700,bold;
    font-size: 16px;
    line-height: 20px;
    color: #ED7839;
}

.topico_conteudo_1 > h6 {
    margin-top: -10px;
    margin-left: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500,media;
    font-size: 12px;
    line-height: 15px;
    color: #5C5C5C;
}

.topico_conteudo_1 > p {
    margin-top: 10px;
    margin-left: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400,regular;
    font-size: 14px;
    line-height: 17.5px;
    color: #4D4D4D;
}

.icones_4 {
    margin-top: 10px;
    width: 154px;
    height: 19px;
    margin-left: 15px;
}

.informacoes {
    width: 4px;
    height: 18px;
    position: absolute;
}

.favoritar {
    margin-top: -3px;
    position: absolute;
    width: 27px;
    height: 19px;
    left: 28px;
}

.like {
    padding-left: 47px;
    padding-right: 1px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    height: 19px;
    color: #757575;
}

.resposta {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    color: #757575;
}

.footer {
    position: absolute;
    top: 1475px;
    width: 1058px;
    height: 181px;
    background-image: url(imagens/imagem\ -\ footer.png);
}

.paragrafo_principal {
    width: 783px;
    height: 54px;
}

.botoes {
    width: 242px;
    height: 31px;
    margin-top: 50px;
    margin-right: 25px;
    display: flex;
    position: absolute;
    top: 30px;
}

.menu_lateral {
    position : absolute;
    width: 239px;
    height: 25px;
    top: 115px;
}

.menu_lateral > p {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 25px;
    top: -12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ED7839;
}

.img2 {
    position: absolute;
    height: 439px;
    top:73px;
}

.img2 > img {
    height: 439px;
    width: 783px;
    height: 439px;
}

/** Responsividades **/

@media (max-width: 600px) {

    .imagem, .primeiro {
        display: none;
        left: 0;
        top: 308px; 
    }

    .menu {
        display: none;
    }

    .nav-wrapper {
        width: 100%;
    }

    .nav-wrapper > h5 {
        text-align: center;
        display: flex;
        margin-left: 40%;
        font-size: 18px;
    }

    .lateral_imagem > img {
        display: none;
    }

    .nav {
        width: 100vw;
        height: 100vh;
    }

    section {
        width: 100vw;
        height: 100vh;
        margin-left: 0;
    }

    .paragrafo_principal > p {
        font-size: 13px;
        width: 100vw;
        height: 100vh;
    }

    .img2  {
        display: none;
    }

    .conteudo {
        top: 80px;
        width: 100vw;
        height: 100vh;
    }

    .resumo {
        width: 100vw;
        height: 100vh;
        border: 1px solid red;
    }

    .resumo > h1 {
        text-align: center;
    }

    .resumo > p {
        width: 100vw;
        left: 0;
        font-size: 10px;
        margin-left: 0;
        text-align: justify;
        white-space: normal;
    }

    #menu-mobile {
        position: absolute;
        width: 220px;
        height: 258px;
}
    .primeiro {
        position: absolute;
        left: 0;
        top: 308px;  
    }
    
     ul > li {
        top: 0;
        width: 220px;
        height: 33px;
        bottom: 5.71%;
    }

    .lateral {
        width: 220px;
        height: 700px;
        float: left;
    }

    .lateral2 {
        display: none;
    }
}
